# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.QuanLySach.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\ptbpb\Desktop\New folder\KhacHuy_1811061402\KhacHuy_1811061402\QuanLySach\.idea\.idea.QuanLySach\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
